div {
        height: 200px;
        width: 500px;
        background-color: pink;
        /* border-width: 5px;
        border-style: solid;
        border-color: black; */
        border: 5px solid yellow;
        /* border-left-style: dashed;
        border-left-color: blue; */
        border-top: 5px dashed blue;

}

h1 {
    /* border-width: 4px;
    border-style: dotted;
    border-color: purple; */

    border: 5px dotted rgb(171, 20, 20);
    /* height: 4px;
    width: 20px; */ 
    /* border-left-style: dotted; */
}
