body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

p{
    color: #964B00;
    color: red;
    line-height: 30px;
}

h3{
    color: black;
}
a{
    color: rgb(38, 181, 38);
    text-decoration: none;
}

button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #0000;
}
h1{
    text-decoration: underline;
}