/* PART A(Selectors) */

/********** UNIVERSAL SELECTORS **************/

* {
    text-align: center;
}
/************* Id selectors ************/

#mainTopic {
    color: blue;
}

h1, h3, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.para {
    color: white;
    background-color: cornflowerblue;
}

div button {
    background-color: purple;
    color: azure;
}

/******* PART B (Pseduo class & elements) ********/

button:hover {
    background-color: yellowgreen;
    color: blue;
}

.para:nth-of-type(odd) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

/* input[type="checkbox"]:checked + label {
    color: darkgreen;
} */

#yes:checked + label {
    color: darkgreen;
}
