section {
        margin-top: 100px;
       
        
}
div {
    height:50px;
    width: 200px;
    text-align: center;
    background-color: #cdb4db;
    border: 2px solid black;
    margin: 10px auto;

}

div:nth-of-type(2n) {
    background-color: #ffafcc;
}

div:nth-of-type(3n) {
    background-color: #a2d2ff;
}

/******* Transform in CSS***********/
 
#one {
    transform: rotate(45deg);
    /* transform:rotate3d(1, 1, 1, 45deg) */
}

#two {
    transform: scale(0.5);
    
    
}

#three {
    transform: translate(100px,100px);
    transform: translateX(-100px);
}

#four {
    transform: skew(30deg);
}

#five {
    transform: rotate(45deg) translateX(150px) skew(30deg);
    
}

.ten {
    transform: translateX(200px) rotate(135deg);
} 
.twenty {
    transform: rotate(135deg) translateX(200px) skew(30deg);
} 