
#continer {
    height: 600px;
    width: 80%;
    background-color: rgb(191, 212, 212);
    border: 2px solid #000000;
    margin: 10px auto;
    display: flex;  /*row */
    flex-direction: row;
    justify-content:flex-start;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-content: space-evenly;
    
    
} 


h1 {
    text-align: center; 
}
#continer div {
    height: 100px;
    width: 300px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    
    
}
