
#continer {
    height: 300px;
    width: 80%;
    background-color: rgb(191, 212, 212);
    border: 2px solid #000000;
    margin: 10px auto;
    display: flex;  /*row */
    flex-direction: column-reverse;
    /* justify-content:flex-start; */
    justify-content: row;
    flex-wrap: wrap-reverse;
}

h1 {
    text-align: center;
}
#continer div {
    height: 100px;
    width: 300px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    
    
}
img {
    border-radius: 50%;
    background-color: #000000;
}