/******** id selector >> class selector >> element selector *********/

h1{
    color: pink;
}

#greet {
    color: yellow;
}

.myClass {
    color: brown;
}

/*******DECENDENT SELECTOR **********/
div p {
    background-color: black;
    color: aliceblue;
}
/*******CLASS SELECTOR **********/
.para {
    background-color: blue;
    color: aliceblue;
}


p {
    background-color: green;
    color: aliceblue;
}