* {
    font-family: Inter,sans-serif;
    
}
#continer {
    height: 50px;
    width: 900px;
    border: 2px solid rgb(116, 208, 238);
    border-radius: 10px;
    background-color: pink;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    
}

.inner {
    font-size: 24px;
    height: 50px;
    width: 80px;
    line-height: 2.5rem;
    margin-left: 5px;

}

img {
    height: 75px;
    width: 75px;
    margin-top: 50px;
    margin-left: 50px;
}

button {
    height: 45px;
    width: 263px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    background-color: black;
    color: white;
    
}
h1 {
    display:flex;
    font-size: 50px;
}
p{
    color: black;
    height:100;
    width:475;
    display: flex;
    font-size: 20px;
    padding: 10px 0 0;
}