.container {
    height: 400px;
    width: 400px;
    background-color: #4e8098;
    border: 2px solid rgb(82, 164, 214);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;

    
}
.inner:hover {
    transform: scale(0.9);
    box-shadow: 0 0 4px red;
    cursor:pointer;
}